@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fundo:#edf3f6;
    --backround-header:transparent; /*+++cor de fundo*/
    --background-main:#fffdfd09;
    --background-section-my-skills:#f9fbfa;
    --skill-meter:#d7d7d7;

    --texto-principal:#494949f5;
    --texto-secundario:#636363f5;
    --texto-inverso:#efeaeaf1;
    --porcentagem:#848484eb;;

    --texto-gradient-01:#254da9;
    --text-gradient-02:#2a64b0; /*cor de backround de alguns elementos*/
    --text-gradient-03:#28a5cf;
    --text-gradient-04:#27c6de;

    --text-shadow:#0000004f;
    --backround-text:#0c4da6;
    --background-inverso:#3835f8fe;
    --background-icons-text-highlights:#3d87d22c;
    
}  

body{
    background-color:var(--fundo);
    min-height: 100vh;
}

/*Header*/

header{
    background-image:linear-gradient(to top, var(--backround-header), var(--fundo));
    backdrop-filter: blur(20px);

    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    gap: 10px;


    position: sticky;
    top: 0;
    z-index: 10;

}
header>h1{
    font-weight:bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header h1>a{
    background-image: linear-gradient(to right, var(--texto-gradient-01),var(--text-gradient-02), var(--text-gradient-03), var(--text-gradient-04));
    background-clip: text;
    color: transparent;
    
}

span{
    color: var(--texto-gradient-01);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 4px var(--text-shadow);
    margin-right: 10px;
}

/*menu de navegação*/

nav a{
    color: var(--texto-principal);
    text-decoration: none;
    font-weight: normal;
    font-size: 0.85em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0.5px 0.5px 1px var(--text-shadow);
}
nav a:hover{
    text-decoration: underline;
}

#next-contat{
    background-color: var(--backround-text);
    color: var(--texto-inverso);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    text-shadow: none;
    transition: all 0.3s ease-in-out;
}

#next-contat:hover{
    background-color: var(--background-inverso);
    color: var(--texto-inverso);
    text-shadow:0.5px 0.5px 1px var(--fundo);
    box-shadow: var(--text-shadow) 1.95px 1.95px 2.6px;
    text-decoration: none;
}

/*MAIN*/

main{
    display: grid;
    grid-template-columns:auto 100vw auto;
    grid-template-rows: repeat(6,auto);
    
}
/*Pagina inicial*/
section{
    background-color: var(--background-main);
    border-radius: 8px;
    max-width: 900px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
#presentation{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
}

#presentation>p.icons-text-highlights{
    background-color: var(--background-icons-text-highlights);
    color: var(--backround-text);
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;

    font-size: 0.8em;
    font-weight: normal;
    text-align: center;

    border-radius: 15px;
    
    display: block;

    margin: auto;
    padding: 5px;
}

#presentation h1{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-top:10px;
    
}

span#text-contrast{
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-03), var(--text-gradient-04));
    background-clip: text;
    color: transparent;
    text-shadow: 0.5px 0.5px 2px var(--text-shadow);
}



#presentation h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #474747;
    margin-bottom: 15px;
    margin-top: 15px;
}

#presentation>p#unico{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 0.85em;
    color: var(--texto-principal);
    margin-bottom: 30px;
    margin: auto;

}
.access-content{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    margin: 30px 0px;
}
.access-content>.projects-page{
    color: var(--texto-inverso);
    background-color: var(--backround-text);
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;

}

.access-content>.contact{
    color: var(--texto-principal);
    background-color: var(--fundo);
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 120px;
}

.social-media img{
    width: 20px;
}

#animation{
    display: flex;
    justify-content: center;
}
#animation>img{
    animation: flutuar 1s ease-in-out infinite;
}
/*Ativação da animação*/
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

/*Sobre mim*/

section#about-me{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
    padding: 20px 10px;
}

section#about-me >h1{
    
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 10px auto 40px auto;
    
    
}

section#about-me > h1 span#text-contrast-about{
    
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-03), var(--text-gradient-04) );
    background-clip: text;
    color: transparent;

    position: relative;
}

/*Linha abaixo*/

section#about-me > h1 span#text-contrast-about::after {
  content: "";
  position: absolute;
  left: -40px;
  bottom: -6px;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, var(--texto-gradient-01), var(--text-gradient-04));
  border-radius: 2px;
  animation: underline 1s ease forwards;
}

/* animação */
@keyframes underline {
  from { width: 0; }
  to { width: 80%; }
}


div.line-image-text{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*Imagem*/
div.line-image-text > .img-box img{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*texto*/

div.text-box-set>p{
    text-align: start;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.5px;

    margin: 20px auto;

    color: var(--texto-principal);
}

div.text-box-set>p#p-ligth{
    font-weight: normal;
}

/*caixa com inf*/
div.set-of-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 40px auto 0px auto
}

.box-child{
    width: 33.2%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 8px;
}

.box-child >.symbols-box{
    font-size: 22px;
    margin: 10px 0px 0px 0px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--background-icons-text-highlights);
    color: var(--text-gradient-02);
}

.box-child>h3{
    color: var(--texto-principal);
    font-size: 0.9em;
    text-align: center;
    margin: 8px 0px;
    font-weight: 700;
}

.box-child>p{
    color: var(--texto-principal);
    text-align: center;
    font-size: 0.85em;
}

/*Minhas habilidade*/


section#my-skills{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:4;
    padding: 40px 10px; 
    position: relative; /* necessário para usar ::before */
    z-index: 1; /* mantém o conteúdo visível */
    margin-bottom: 40px;
}


/* Background full-width */
section#my-skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 49%;

    width: 97.5vw;
    height: 100%;
    background: var(--background-section-my-skills);
    transform: translateX(-50%); /* centraliza */
    z-index: -1; /* fica atrás do conteúdo */
}

section#my-skills >h1{
    display: block;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 10px auto 30px auto;
    width: 100%;

}

section#my-skills > h1 span{
    position: relative;
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-03), var(--text-gradient-04) );
    background-clip: text;
    color: transparent;
}

/*Linha abaixo*/

section#my-skills > h1 span#text-contrast-skills::after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: -10px;
  width: 40%;
  height: 3px;
  background: linear-gradient(90deg, var(--texto-gradient-01), var(--text-gradient-04));
  border-radius: 2px;
  animation: underlineSkills 1s ease forwards;
}

@keyframes underlineSkills {
  from { width: 0; }
  to { width: 30%; }
}

/*texto*/

#my-skills > p{
    font-family: "Inter", sans-serif;
    font-size: 0.9em;
    color: var(--texto-secundario);
    text-align: center;
    margin: 10px auto 50px auto;
}

.skill-set{
    margin-bottom: 30px;
}

.skill-set h2{
    font-size: 1.2em;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: var(--texto-gradient-01);
    margin: 15px 0px;
}

.content-skills{
    margin-bottom: 15px;
}

.skill-information{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    
}

.skill-information h3{
    font-size: 0.75em;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif; 
    font-weight:bold;
    color: var(--texto-principal);
}

.skill-information span{
    font-size: 0.75em;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif; 
    font-weight:normal;
    color: var(--porcentagem);
    text-shadow: none;
}

.skill-meter{
    width: 100%;
    height: 8px;
    background-color: var(--skill-meter);
    border-radius: 50px;
}

.skill-percentage{
    height: 100%;
    border-radius: 50px;
    background-image: linear-gradient( to right, var(--texto-gradient-01), var(--text-gradient-04));
}

/*MEUS PROJETOS*/
section#my-projects{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end:5;
}

#box-projects{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    height: 250px;
    column-gap: 20px;
}

.exemple-box{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    
    
}

div#img-project-01{
    height: 50%;
    background-image: url(../imagens/projeto-loggin.png);
    background-size: cover;
    background-position: center center;
}

div.text-project{
    height: 50%;
}