@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fundo:#dddddd;
    --backround-header:#8989898a; /*+++cor de fundo*/
    --background-main:#fffdfd25;
    --texto-principal:#2e2c2c;
    --texto-inverso:#ceccccf1;
    --texto-gradient-01:#353ff8fe; /*cor de backround de alguns elementos*/
    --text-gradient-02:#60acf8; /*cor de backround de alguns elementos*/
    --text-gradient-03:#60dcf8;
    --text-shadow:#0000005e;
    --backround-text:#3d8dde;
    --background-inverso:#3835f8fe;
    --icons-text-highlights:#1f568d44;
    
}  

body{
    background-color:var(--fundo);
    height: 100vh;
    width: 100vw;
}
header{
    background-image:linear-gradient(to top, var(--backround-header), var(--fundo));
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
}
header>h1{
    width: 5%;
    font-size: 1.5em;
    font-weight:bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:10px;
}
header h1>a{
    background-image: linear-gradient(to right, var(--texto-gradient-01),var(--text-gradient-02));
    background-clip: text;
    color: transparent;
    text-shadow: 0.5px 0.5px 4px var(--text-shadow);
    
}

nav a{
    color: var(--texto-gradient-01);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 4px var(--text-shadow);
}
nav a:hover{
    text-decoration: underline;
}

#next-contat{
    background-color: var(--backround-text);
    color: var(--texto-inverso);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    text-shadow: none;
    transition: all 0.3s ease-in-out;
}

#next-contat:hover{
    background-color: var(--background-inverso);
    color: var(--texto-inverso);
    text-shadow:0.5px 0.5px 1px var(--fundo);
    box-shadow: var(--text-shadow) 1.95px 1.95px 2.6px;
    text-decoration: none;
}

main{
    display: grid;
    grid-template-columns:auto 90vw auto;
    
}
section{
    margin-top: 10px;
    background-color: var(--background-main);
    border-radius: 8px;
}
#presentation{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.icons-text-highlights{
    background-color: var(--icons-text-highlights);
    color: var(--background-inverso);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7em;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    width: 50%;
    display: block;
    margin: auto;
}

span{
    display: block;
    background-image: linear-gradient(to right, var(--texto-gradient-01),var(--text-gradient-02), var(--text-gradient-02), var(--text-gradient-03));
    background-clip: text;
    color: transparent;
    text-shadow: 0.5px 0.5px 2px var(--text-shadow);
    font-size: 1.8em;
}

#presentation h1{
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
}