@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fundo:#dddddd;
    --backround-header:#8989898a; /*+++cor de fundo*/
    --background-main:#fffdfd09;
    --texto-principal:#3b3b3b;
    --texto-inverso:#ceccccf1;
    --texto-gradient-01:#353ff8fe; /*cor de backround de alguns elementos*/
    --text-gradient-02:#60acf8; /*cor de backround de alguns elementos*/
    --text-gradient-03:#60dcf8;
    --text-shadow:#0000004f;
    --backround-text:#3d8dde;
    --background-inverso:#3835f8fe;
    --icons-text-highlights:#297ed244;
    --icon-about-me:#13375b98;
    
}  

body{
    background-color:var(--fundo);
    height: 100vh;
    width: 100vw;
}
/*Header*/

header{
    background-image:linear-gradient(to top, var(--backround-header), var(--fundo));
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
}
header>h1{
    width: 5%;
    font-size: 1.5em;
    font-weight:bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:10px;
}
header h1>a{
    background-image: linear-gradient(to right, var(--texto-gradient-01),var(--text-gradient-02));
    background-clip: text;
    color: transparent;
    text-shadow: 0.5px 0.5px 4px var(--text-shadow);
    
}

/*menu de navegação*/

nav a{
    color: var(--texto-gradient-01);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 4px var(--text-shadow);
}
nav a:hover{
    text-decoration: underline;
}

#next-contat{
    background-color: var(--backround-text);
    color: var(--texto-inverso);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    text-shadow: none;
    transition: all 0.3s ease-in-out;
}

#next-contat:hover{
    background-color: var(--background-inverso);
    color: var(--texto-inverso);
    text-shadow:0.5px 0.5px 1px var(--fundo);
    box-shadow: var(--text-shadow) 1.95px 1.95px 2.6px;
    text-decoration: none;
}


/*MAIN*/

main{
    display: grid;
    grid-template-columns:auto 90vw auto;
    grid-template-rows: repeat(6,auto);
    
}
/*Pagina inicial*/
section{
    background-color: var(--background-main);
    border-radius: 8px;
    max-width: 800px;
    display: block;
    margin: auto;
    margin-top: 50px;
}
#presentation{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.118) 0px 2px 8px 0px;
}
.icons-text-highlights{
    background-color: var(--icons-text-highlights);
    color: var(--background-inverso);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 0.7em;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    display: block;
    margin: auto;
}



span.text-contrast{
    background-image: linear-gradient(to right, var(--texto-gradient-01),var(--text-gradient-02), var(--text-gradient-02), var(--text-gradient-03));
    background-clip: text;
    color: transparent;
    text-shadow: 0.5px 0.5px 2px var(--text-shadow);
}

#presentation h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:10px;
    
}

#presentation h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    color: var(--texto-principal);
    margin-bottom: 10px;
}

#presentation>p{
    text-align: center;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 0.9em;
    color: var(--texto-principal);
    margin-bottom: 30px;
}
.access-content{
    display: flex;
    justify-content:center;
    gap: 40px;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
}
.access-content>.projects-page{
    color: var(--texto-inverso);
    background-color: var(--backround-text);
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;

}

.access-content>.contact{
    color: var(--texto-principal);
    background-color: var(--fundo);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}

.social-media img{
    width: 20px;
}

#animation{
    display: flex;
    justify-content: center;
}
#animation>img{
    animation: flutuar 1s ease-in-out infinite;
}
/*Ativação da animação*/
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px); /* sobe levemente */
  }
  100% {
    transform: translateY(0);
  }
}

/*Sobre mim*/

section#about-me{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
    padding: 30px 10px;
    box-shadow: rgba(99, 99, 99, 0.118) 0px 2px 8px 0px;
}

section#about-me >h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:10px;
}

section#about-me > h1 span{
    position: relative
}

section#about-me > h1 span::after {
  content: "";
  position: absolute;
  left: -5px;
  bottom: -6px;
  width: 40%;
  height: 3px;
  background: linear-gradient(90deg, var(--texto-gradient-01), var(--text-gradient-03));
  border-radius: 2px;
  animation: underline 1s ease forwards;
}

@keyframes underline {
  from { width: 0; }
  to { width: 100%; }
}

div.line-image-text{
    display: flex;
    align-items: center;
    gap: 20px;
}

/*Imagem*/
div.line-image-text > .img-box img{
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*caixa com inf*/
div.set-of-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 25px;
}

.box-child{
    width: 33.2%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 8px;
}

.box-child >.symbols-box{
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--icons-text-highlights);
    color: var(--icon-about-me);
}

.box-child>h3{
    color: var(--texto-principal);
    font-size: 0.9em;
    text-align: center;
    margin: 8px 0px;
    font-weight: 700;
}

.box-child>p{
    color: var(--texto-principal);
    text-align: center;
    font-size: 0.85em;
}