
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --fundo:#edf3f6;
    --backround-header:transparent; /*+++cor de fundo*/
    --background-main:#fffdfd09;
    --background-section-my-skills:#f9fbfa;
    --skill-meter:#d7d7d7;

    --texto-principal:#3b3b3bf5;
    --texto-secundario:#636363f5;
    --texto-inverso:#efeaeaf1;
    --porcentagem:#848484eb;;

    --texto-gradient-01:#254da9;
    --text-gradient-02:#2a64b0; /*cor de backround de alguns elementos*/
    --text-gradient-03:#28a5cf;
    --text-gradient-04:#27c6de;

    --text-shadow:#0000004f;
    --backround-text:#0c4da6;
    --background-inverso:#3835f8fe;
    --background-icons-text-highlights:#3d87d22c;
    
} 

/*MAIN*/

main{
    display: grid;
    grid-template-columns:auto 100vw auto;
    grid-template-rows: repeat(6,auto);
    
}
/*Pagina inicial*/
section{
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
#presentation{
    background-color: var(--background-main);
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 10px;
    max-width: 900px;
}

#presentation>p.icons-text-highlights{
    background-color: var(--background-icons-text-highlights);
    color: var(--backround-text);
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;

    font-size: 0.8em;
    font-weight: normal;
    text-align: center;

    border-radius: 15px;
    
    display: block;

    margin: auto;
    padding: 5px;
}

#presentation h1{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-top:10px;
    
}

span#text-contrast{
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-03), var(--text-gradient-04));
    background-clip: text;
    color: transparent;
    text-shadow: 0.5px 0.5px 2px var(--text-shadow);
}



#presentation h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #474747;
    margin-bottom: 15px;
    margin-top: 15px;
}

#presentation>p#unico{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 0.85em;
    color: var(--texto-principal);
    margin-bottom: 30px;
    margin: auto;

}
.access-content{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    margin: 30px 0px;
}
.access-content>.projects-page>a{
    color: var(--texto-inverso);
    background-color: var(--backround-text);
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;

}

.access-content>.projects-page>a:hover{
    color: var(--texto-inverso);
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-04));
}

.access-content>.contact>a{
    color: var(--texto-principal);
    background-color: var(--fundo);
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-decoration: none;
}

.access-content>.contact>a:hover{
    color: var(--texto-inverso);
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-04))
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 120px;
}

.social-media img{
    width: 20px;
}

#animation{
    display: flex;
    justify-content: center;
}
#animation>img{
    animation: flutuar 1s ease-in-out infinite;
}
/*Ativação da animação*/
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

/*Sobre mim*/

section#about-me{
    background-color: var(--background-main);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
    padding: 20px 10px;
    max-width: 900px;
}

section#about-me >h1{
    
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 10px auto 40px auto;
    
    
}

section#about-me > h1 span#text-contrast-about{
    
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-03), var(--text-gradient-04) );
    background-clip: text;
    color: transparent;

    position: relative;
}

/*Linha abaixo*/

section#about-me > h1 span#text-contrast-about::after {
  content: "";
  position: absolute;
  left: -40px;
  bottom: -6px;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, var(--texto-gradient-01), var(--text-gradient-04));
  border-radius: 2px;
  animation: underline 1s ease forwards;
}

/* animação */
@keyframes underline {
  from { width: 0; }
  to { width: 80%; }
}


div.line-image-text{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*Imagem*/
div.line-image-text > .img-box img{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*texto*/

div.text-box-set>p{
    text-align: start;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.5px;

    margin: 20px auto;

    color: var(--texto-principal);
}

div.text-box-set>p#p-ligth{
    font-weight: normal;
}

/*caixa com inf*/
div.set-of-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 40px auto 0px auto
}

.box-child{
    width: 33.3%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 8px;
}

.box-child >.symbols-box{
    font-size: 22px;
    margin: 10px 0px 0px 0px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--background-icons-text-highlights);
    color: var(--text-gradient-02);
}

.box-child>h3{
    color: var(--texto-principal);
    font-size: 0.9em;
    text-align: center;
    margin: 8px 0px;
    font-weight: 700;
}

.box-child>p{
    color: var(--texto-principal);
    text-align: center;
    font-size: 0.85em;
}







/*Minhas habilidade*/


section#my-skills{
    background-color: var(--background-section-my-skills);
    width: 98vw;
    
    display: block;
    margin: auto;
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:4;
    padding: 40px 10px; 
}

section#my-skills >h1{
    display: block;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 10px auto 30px auto;
    width: 100%;

}

section#my-skills > h1 span{
    position: relative;
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-03), var(--text-gradient-04) );
    background-clip: text;
    color: transparent;
}

/*Linha abaixo*/

section#my-skills > h1 span#text-contrast-skills::after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: -10px;
  width: 40%;
  height: 3px;
  background: linear-gradient(90deg, var(--texto-gradient-01), var(--text-gradient-04));
  border-radius: 2px;
  animation: underlineSkills 1s ease forwards;
}

@keyframes underlineSkills {
  from { width: 0; }
  to { width: 30%; }
}

/*texto*/

#my-skills > p{
    font-family: "Inter", sans-serif;
    font-size: 0.9em;
    color: var(--texto-secundario);
    text-align: center;
    margin: 10px auto 50px auto;
}

.skill-set{
    margin:0px auto 30px auto;
}

.skill-set h2{
    font-size: 1.2em;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: var(--texto-gradient-01);
    margin: 15px 0px;
}

.content-skills{
    margin-bottom: 15px;
}

.skill-information{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    
}

.skill-information h3{
    font-size: 0.75em;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif; 
    font-weight:bold;
    color: var(--texto-principal);
}

.skill-information span{
    font-size: 0.75em;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif; 
    font-weight:normal;
    color: var(--porcentagem);
    text-shadow: none;
}

.skill-meter{
    width: 100%;
    height: 8px;
    background-color: var(--skill-meter);
    border-radius: 50px;
}

.skill-percentage{
    height: 100%;
    border-radius: 50px;
    background-image: linear-gradient( to right, var(--texto-gradient-01), var(--text-gradient-04));
}






/*MEUS PROJETOS*/



section#my-projects{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end:5;

}


section#my-projects >h1{
    
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 10px auto 30px auto;
    
    
}

section#my-projects > h1 span#text-contrast-projects{
    
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-03), var(--text-gradient-04) );
    background-clip: text;
    color: transparent;

    position: relative;
}

/*Linha abaixo*/

section#my-projects > h1 span#text-contrast-projects::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -10px;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, var(--texto-gradient-01), var(--text-gradient-04));
  border-radius: 2px;
  animation: underline-projects 1s ease forwards;
}

/* animação */
@keyframes underline-projects {
  from { width: 0; }
  to { width: 40%; }
}

#my-projects > p{
    font-family: "Inter", sans-serif;
    font-size: 0.9em;
    color: var(--texto-secundario);
    text-align: center;
    margin: 8px auto 50px auto;
    width: 90%;
}

#box-projects{
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.example-box{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    overflow: hidden;
    
    
}

div#img-project-01{
    height: 50%;
    background-image: url(../imagens/projeto-loggin.png);
    background-size: cover;
    background-position: center center;
}

div#img-project-02{
    height: 50%;
    background-image: url(../imagens/projeto-redes-sociais.png);
    background-size: cover;
    background-position: center center;
}

div#img-project-03{
    height: 50%;
    background-image: url(../imagens/projeto-android.png);
    background-size: cover;
    background-position: center center;
}

div.text-project{
    height: 50%;
    padding: 15px;
}

div.text-project > p{
    color: var(--texto-secundario);
    text-align: left;
    font-size: 0.9em;
    margin-top: 10px;
    line-height: 19px;
    width: 100%;
}

div.type-language{
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

div.type-language > p {
    background-color: var(--background-icons-text-highlights);
    color: var(--backround-text);
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;

    font-size: 0.7em;
    font-weight: normal;
    text-align: center;

    border-radius: 15px;
    padding: 3px 15px;

}

div.buttom-acess{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top:15px;

}

div.buttom-acess>span>a{
    background-color: var(--background-icons-text-highlights);
    padding: 8px 20px;
    color: var(--backround-text);
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}
div.buttom-acess>span>a:hover{
    background-color: var(--backround-text);
    color: var(--texto-inverso);
}







/*ENTRE EM CONTATO*/
section#get-in-touch{
    background-color: var(--background-section-my-skills);
    width: 98vw;
    
    display: block;
    margin: auto;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end:6;
    padding: 60px 0px;
}


section#get-in-touch >h1{
    display: block;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 10px auto 30px auto;
    width: 100%;

}

section#get-in-touch > h1 span{
    position: relative;
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-03), var(--text-gradient-04) );
    background-clip: text;
    color: transparent;
}

/*Linha abaixo*/

section#get-in-touch > h1 span#text-contrast-contact::after {
  content: "";
  position: absolute;
  left: -35px;
  bottom: -10px;
  width: 40%;
  height: 3px;
  background: linear-gradient(90deg, var(--texto-gradient-01), var(--text-gradient-04));
  border-radius: 2px;
  animation: underlineContact 1s ease forwards;
}

@keyframes underlineContact {
  from { width: 0; }
  to { width: 40%; }
}

section#get-in-touch > p{
    font-family: "Inter", sans-serif;
    font-size: 0.9em;
    color: var(--texto-secundario);
    text-align: center;
    margin: 8px auto 50px auto;
    line-height: 21px;
}

div#content-contact{
    display: flex;
}

div#inf-contact>h3{
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contact-set{
    display: flex;
    flex-direction: column;
}

div#e-mail{
    display: flex;
    margin: 20px 0px 20px 0px;
    align-items: center;
}

div#e-mail>span{
    background-color: var(--background-icons-text-highlights);
    padding: 10px;
    color: var(--texto-gradient-01);
    border-radius: 8px;
    font-size: 18px;
}

div.contact-item-text{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

div.contact-item-text>h4{
    color: var(--texto-principal);
    font-size: 0.9em;
}

div.contact-item-text>p>a{
    color: var(--texto-secundario);
    text-decoration: none;
    font-size: 0.95em;

}

div#telephone{
    display: flex;
    margin: 0px 0px 20px 0px;
    align-items: center;
}

div#telephone>span{
    background-color: var(--background-icons-text-highlights);
    padding: 10px;
    color: var(--texto-gradient-01);
    border-radius: 8px;
    font-size: 18px;
}

div#location{
    display: flex;
    margin: 0px 0px 20px 0px;
    align-items: center;
}

div#location>span{
    background-color: var(--background-icons-text-highlights);
    padding: 10px;
    color: var(--texto-gradient-01);
    border-radius: 8px;
    font-size: 18px;
}

#icon-the-contact{
    text-align: center;
    width: 38px; 
}

div#availability-card{
    margin-top: 30px;
    padding: 20px;
    background: linear-gradient(135deg, var(--texto-gradient-01), var(--text-gradient-04));
    color: #fff;
    border-radius: 12px;
}



div.form-row{
    display: flex;
    flex-direction: column;
}

label{
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--texto-principal);
    font-size: 0.85em;
    font-weight: bold;
}

input,textarea{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    border: 1px 1px 0px black;
    font-size: 0.85em;
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    height: 35px;
    
}

textarea{
    height: 100px;
}

.form-actions{
    margin-top: 10px;
}

.form-actions button {
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: var(--texto-gradient-01);
    color: var(--texto-inverso);
    width: 100%;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-actions button:hover{
    background-image: linear-gradient(to right, var(--texto-gradient-01), var(--text-gradient-04));;
}


.form-actions span{
     transform: rotate(315deg);
     font-size:15px;
     color: var(--texto-inverso);
}