
/*Tela pequena*/
@media screen and (max-width:564px) {

    /*HEADER*/
    header{
        height: 100px;
    }

    header>h1{
    width: 5%;
    font-size: 1.5em;
    margin:10px;
    }


    /*MENU DE NAVEGAÇÃO*/
    #content-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        column-gap: 15px;
        row-gap:15px;
        margin-top: 10px;
    }

    nav.menu-drop {
        display: none;
    }

    #content-menu:hover nav.menu-drop {
        width: 95%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content:center;
        flex-flow: row wrap;
        align-content: center;

        row-gap: 5px;
        column-gap: 15px;

        cursor: pointer;
        
        
    }

    /*main*/

    #presentation > p.icons-text-highlights{
        width: 50%;
    }

    #presentation h1{
        font-size: 1.2em;
        display: block;
        margin: auto;
        width: 100%;
    }

    span#text-contrast{
       font-size: 1.9em; 
       width: 90%;
       display: block;
       margin: auto;
    }

    #presentation > p#unico{
        width: 70%;
    }

    /*section sobre mim*/

    section#my-skills{
        width: 90%;
    }


    section#about-me >h1{
        font-size: 1.4em;
        width: 100%;
    }

   span#text-contrast-about{
       font-size: 1.2em; 
    }
    
    div.line-image-text{
        flex-flow:column nowrap;
        align-items: center;
    }
    /*imagem*/
    div.line-image-text > .img-box img{
        width: 60%;
        max-width: 565px;
        height:auto;
        display: block;
        margin: auto;
        margin-top: 20px;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow:hidden;
    }

     div.text-box-set>p{
        width: 70%;
    }

    /*caixa com inf*/
    div.set-of-boxes{
        width: 80%;

    }

   /*SEÇÃO MINHAS HABILIDADES*/

    section#my-skills >h1{
        font-size: 1.5em;
    }

     #my-skills >p{
        width: 100%;
    }

    .skill-set{
         width: 80%;
    }

    /*SEÇÃO MEUS PROJETOS*/

    #box-projects{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        height: 1300px;
        
    }

    .example-box{
        height: 33.3%;
        width: 80%;
    }

}    

/*media*/
@media screen and (min-width:565px) {

    /*HEADER*/

    header{
        padding: 0px 22px;
        height: 60px;
    }

    header>h1{
    width: 5%;
    font-size: 1.3em;
    }
    /*NAVEGAÇÃO*/

    #content-menu{
        width: 95%;
    }

    span.menu{
        display: none;
    }

    nav.menu-drop{
        width: 100%;
        display:flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        margin-right: 15px;
    }

    /*main*/

    .icons-text-highlights{
        width:200px;
    }

    #presentation h1{
        width: 100%;
        font-size:2.3em;
        display: block;
        margin: auto;
    }

    #presentation>p#unico{
       width: 55%;
    }

    /*section sobre mim*/

    section#my-skills{
        width: 80%;
    }

    section#about-me >h1{
        font-size: 1.8em;
    }

   

     div.line-image-text{
        flex-flow:column nowrap;
        align-items: center;
    }

    div.line-image-text > .img-box img{
        width: 40%;
        max-width: auto;
        height:430;
        display: block;
        margin: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow:hidden;
    }

    div.text-box-set>p{
        width: 60%;
    }

    /*caixa com inf*/
    div.set-of-boxes{
        width: 60%;

    }
    /*SEÇÃO MINHAS HABILIDADES*/

    section#my-skills >h1{
        font-size: 1.8em;
    }

     .skill-set{
         width: 80%;
    }

    /*SEÇÃO MEUS PROJETOS*/

     #box-projects{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        height: 1200px;
        
    }

    .example-box{
        height: 33.3%;
        width: 50%;
    }

    /*SEÇÃO DE CONTATO*/

    section#get-in-touch > p{
        width: 80%;
    }

    

    div#content-contact{
        width: 80%;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
    }

    div#inf-contact{
        width: 100%;
       
        
    }

    div#form{
        width: 70%;
    }

}
    


/*TELAS MAIORES*/
@media screen and (min-width:800px) {

    /*HEADER*/
    header{
        padding: 0px 100px;
    }
    header>h1{
    width: 10%;
    font-size: 1.5em;
    }
    /*conteudo de navegação*/
    #content-menu{
        width: 90%;
    }

    nav.menu-drop{
        gap: 30px;
    }

    /*MAIN*/

    #presentation > p.icons-text-highlights{
        width: 25%;
    }

    #presentation h1{
        width: 90%;
        font-size: 3em;
        
    }

    #presentation p#unico{
       width: 60%;
    }

    /*Section sobre mim*/
    section#about-me >h1{
        font-size: 2.2em;
    }
     div.line-image-text{
        flex-flow:row nowrap;
        align-items: center;
        margin-top: 10px;
    }

    .img-box{
        width: 50%;
    }

    div.line-image-text > .img-box img{
        width: 90%;
        height:440px;
        margin-left: 10px;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow:hidden;
    }

    div.text-box-set{
        width: 50%;
    }

     div.text-box-set>p{
        width: 100%;
    }

    /*caixa com inf*/
    div.set-of-boxes{
        width: 100%;
    }

    /*SEÇÃO MINHAS HABILIDADES*/

    section#my-skills{
        width: 50%;
    }

    section#my-skills >h1{
        font-size: 2.2em;
    }

    #my-skills >p{
        width: 70%;
    }

    .skill-set{
         width: 60%;
    }


    /*SEÇÃO MEUS PROJETOS*/

    section#my-projects{
        max-width: 950px;
        min-width: 800px;
    }

    #box-projects{
        flex-direction: row-reverse;
        justify-content: center;
        column-gap: 25px;
        height: 370px;
        width: 100%;
    }

    .example-box{
        height:100%;
        width: 33.3%;
    }

    /*SEÇÃO CONTATO*/

    section#get-in-touch > p{
        width: 90%;
    }

    div#inf-contact{
        width: 40%;
    }

    div#form{
        width: 40%;
    }

    div#content-contact{
        width: 75%;
        flex-direction: row;
        justify-content: center;
        margin: 0px auto;
        gap: 40px;

    }

}
