
/*Tela pequena*/
@media screen and (max-width:564px) {

    /*HEADER*/

    header>h1{
    width: 5%;
    font-size: 1.5em;
    margin:10px;
    }


    /*MENU DE NAVEGAÇÃO*/
    #content-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        column-gap: 15px;
        row-gap:10px;
        margin-top: 10px;
    }

    nav.menu-drop {
        display: none;
    }

    #content-menu:hover nav.menu-drop {
        width: 95%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content:center;
        flex-flow: row wrap;
        align-content: center;

        row-gap: 5px;
        column-gap: 15px;
        
        
    }

    /*main*/

    #presentation > p.icons-text-highlights{
        width: 50%;
    }

    #presentation h1{
        font-size: 1.2em;
        display: block;
        margin: auto;
        width: 100%;
    }

    span#text-contrast{
       font-size: 1.9em; 
       width: 90%;
       display: block;
       margin: auto;
    }

    #presentation > p#unico{
        width: 70%;
    }

    /*section sobre mim*/

    section#about-me >h1{
        font-size: 1.4em;
        display: block;
        margin: auto;
        width: 100%;
    }

   span#text-contrast-about{
       font-size: 1.2em; 
    }
    
    div.line-image-text{
        flex-flow:column nowrap;
        align-items: center;
    }
    /*imagem*/
    div.line-image-text > .img-box img{
        width: 60%;
        max-width: 565px;
        height:auto;
        display: block;
        margin: auto;
        margin-top: 20px;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow:hidden;
    }

    /*texto*/
    div.text-box-set>p{
        padding: 0px 20px;
    }

}

/*media*/
@media screen and (min-width:565px) {

    /*HEADER*/

    header{
        padding: 0px 22px;
    }

    header>h1{
    width: 5%;
    font-size: 1.7em;
    }
    /*NAVEGAÇÃO*/

    #content-menu{
        width: 95%;
    }

    span.menu{
        display: none;
    }

    nav.menu-drop{
        width: 100%;
        display:flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        margin-right: 15px;
    }

    /*main*/

    .icons-text-highlights{
        width:200px;
    }

    #presentation h1{
        width: 100%;
        font-size:2.3em;
        display: block;
        margin: auto;
    }

    #presentation>p#unico{
       width: 55%;
    }

    /*section sobre mim*/

    section#about-me >h1{
        font-size: 1.8em;
    }

     div.line-image-text{
        flex-flow:column nowrap;
        align-items: center;
    }

    div.line-image-text > .img-box img{
        width: 40%;
        max-width: auto;
        height:430;
        display: block;
        margin: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow:hidden;
    }

    
}
/*TELAS MAIORES*/
@media screen and (min-width:800px) {

    /*HEADER*/
    header{
        padding: 0px 70px;
    }
    header>h1{
    width: 18%;
    font-size: 1.9em;
    }
    /*conteudo de navegação*/
    #content-menu{
        width: 82%;
    }

    nav.menu-drop{
        gap: 20px;
    }

    /*MAIN*/

    #presentation > p.icons-text-highlights{
        width: 25%;
    }

    #presentation h1{
        width: 90%;
        font-size: 3em;
        
    }

    #presentation p#unico{
       width: 60%;
    }

    /*Section sobre mim*/
    section#about-me >h1{
        font-size: 2.2em;
    }
     div.line-image-text{
        flex-flow:row nowrap;
        align-items: center;
        margin-top: 10px;
    }

    .img-box{
        width: 50%;
    }

    div.line-image-text > .img-box img{
        width: 90%;
        height:440px;
        margin-left: 10px;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow:hidden;
    }

    div.text-box-set{
        width: 50%;
    }

}
