
/*Tela pequena*/
@media screen and (max-width:564px) {
    #mobile-first {
        flex-direction: column;
        display: flex;
        row-gap:10px;
        align-items: center;
        margin-top: 10px;
    }
    span{
        color: var(--texto-gradient-01);
        text-decoration: none;
        font-weight: bold;
        text-shadow: 0.5px 0.5px 4px var(--text-shadow);
        margin-right: 10px;
    }
    nav.menu-drop {
        display: none;
    }
    #mobile-first:hover nav.menu-drop {
        width: 95%;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content:center;
        flex-flow: row wrap;
        row-gap: 5px;
        align-content: center;
        column-gap: 15px;
    }

    /*main*/

    .icons-text-highlights{
        width: 60%;
    }
    #presentation h1{
        font-size: 1em;
        display: block;
        margin: auto;
        width: 100%;
    }

    span.text-contrast{
       font-size: 1.9em; 
       width: 100%;
       display: block;
    }

    /*section sobre mim*/

    section#about-me >h1{
        font-size: 1.5em;
        display: block;
        margin: auto;
        width: 100%;
    }

    section#about-me >h1> span.text-contrast{
       font-size: 1em; 
       width: 100%;
       display: inline;
    }
    
    div.line-image-text{
        flex-flow:column nowrap;
        align-items: center;
    }

    div.line-image-text > .img-box img{
        width: 60%;
        max-width: 565px;
        height:auto;
        display: block;
        margin: auto;
        margin-top: 20px;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow:hidden;
    }

}

/*media*/
@media screen and (min-width:565px) {

    header{
        height: 30px;
    }

    header>h1{
    width: 15%;
    font-size: 1.8em;
    }

    span.menu{
        display: none;
    }

    #mobile-first{
        width: 85%;
        margin-left: 10px;
        margin-right: 10px;
    }

    nav.menu-drop{
        width: 100%;
        display:flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
        margin-right: 15px;
    }

    /*main*/

    .icons-text-highlights{
        width:200px;
    }

    #presentation h1{
        width: 60%;
        font-size:1.3em;
        display: block;
        margin: auto;
    }

    #presentation>p#unico{
       margin: 0px 60px;
    }

    /*section sobre mim*/

     div.line-image-text{
        flex-flow:column nowrap;
        align-items: center;
    }

    div.line-image-text > .img-box img{
        width: 40%;
        max-width: 565px;
        height:auto;
        display: block;
        margin: auto;
        margin-top: 20px;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow:hidden;
    }

    
}

@media screen and (min-width:800px) {

    /*MAIN*/
    #presentation h1{
        width: 70%;
        font-size: 1.6em;
        
    }

    #presentation p#unico{
       margin: 0px 100px; 
    }

    /*Section sobre mim*/
     div.line-image-text{
        flex-flow:row nowrap;
        align-items: center;
        margin-top: 10px;
    }

    .img-box{
        width: 60%;
    }

    div.line-image-text > .img-box img{
        width: 90%;
        height:430px;
        margin-left: 10px;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow:hidden;
    }

    div.text-box-set{
        width: 55%;
        height: 100%;
        margin-top: 50px;
    }
}
